* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

@font-face {
  font-family: "VersatileOutline-Bold";
  src: url("//db.onlinewebfonts.com/t/cc6289b84357b8d34b7b79656ced51e1.eot");
  src: url("//db.onlinewebfonts.com/t/cc6289b84357b8d34b7b79656ced51e1.eot?#iefix")
      format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/cc6289b84357b8d34b7b79656ced51e1.woff2")
      format("woff2"),
    url("//db.onlinewebfonts.com/t/cc6289b84357b8d34b7b79656ced51e1.woff")
      format("woff"),
    url("//db.onlinewebfonts.com/t/cc6289b84357b8d34b7b79656ced51e1.ttf")
      format("truetype"),
    url("//db.onlinewebfonts.com/t/cc6289b84357b8d34b7b79656ced51e1.svg#VersatileOutline-Bold")
      format("svg");
}

@font-face {
  font-family: "Versatile-Bold";
  src: url("//db.onlinewebfonts.com/t/cb2f7b6a6fdfdf8fa5a0ca69d0e11f0b.eot");
  src: url("//db.onlinewebfonts.com/t/cb2f7b6a6fdfdf8fa5a0ca69d0e11f0b.eot?#iefix")
      format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/cb2f7b6a6fdfdf8fa5a0ca69d0e11f0b.woff2")
      format("woff2"),
    url("//db.onlinewebfonts.com/t/cb2f7b6a6fdfdf8fa5a0ca69d0e11f0b.woff")
      format("woff"),
    url("//db.onlinewebfonts.com/t/cb2f7b6a6fdfdf8fa5a0ca69d0e11f0b.ttf")
      format("truetype"),
    url("//db.onlinewebfonts.com/t/cb2f7b6a6fdfdf8fa5a0ca69d0e11f0b.svg#Versatile-Bold")
      format("svg");
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
  font-size: 20x;
  letter-spacing: -0.5px;
  /* color: #778298;  */
  color: black;
  width: 100%;
  height: 100%;
  background: linear-gradient(-45deg, #c3cbd8, #c3dbce, #ddc3cd, #d0c2ad);
  background-size: 600% 100%;
  animation: gradient 20s ease infinite;
  animation-direction: alternate;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.login > .main-heading {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 300px;
}

/* body {
	width:100%;
    height: 100%;
	background: linear-gradient(-45deg, #c3cbd8, #c3dbce, #ddc3cd, #d0c2ad);
	background-size: 600% 100%;
	animation: gradient 30s ease infinite;
    animation-direction: alternate;
} */
.main-heading {
  margin-left: 50px;
}

.spotify_logo {
  margin-top: -10px;
}
.spotify {
  font-family: "VersatileOutline-Bold";
  letter-spacing: 0;
  font-size: 60px;
  margin-left: 20px;
  /* margin-top: 100px; */
}

.search {
  font-family: "Versatile-Bold";
  letter-spacing: -2px;
  font-size: 60px;
  font-weight: 800;
}

.form {
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
}

/* .form-control {
  display: block;
  width: 100%;
  height: calc(1.5em + .75rem + 2px);
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid black;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
} */

.form_control {
  -webkit-appearance: none;
  appearance: none;
  border: 1px solid black;
  background-color: transparent !important;
  border-radius: 0;
  transition: none !important;
}

.form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: transparent !important;
  outline: 0;
  box-shadow: 0 0 0 0.1rem black;
}

.btn-info {
  color: #fff;
  /* background-color: black; */
  border: none;
}

.searchbtn {
  margin-top: 10px;
  letter-spacing: 1px;
  display: inline-flex;
  text-align: center;
  align-items: center;
  background-color: black;
  border-radius: 999px;
  padding: 0 50px;
  min-height: 44px;
  min-width: 150px;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 12px;
  padding: 0 56px;
  letter-spacing: 3px;
  transition: background-color 200ms
}

/* .button {
  display: inline-flex;
  text-align: center;
  align-items: center;
  background-color: black;
  border-radius: 999px;
  padding: 0 60px;
  min-height: 54px;
  min-width: 160px;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 14px;
  padding: 0 56px;
  letter-spacing: 3px;
  transition: background-color 200ms
} */

.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login .btn {
  letter-spacing: 1px;
  display: inline-flex;
  text-align: center;
  align-items: center;
  background-color: black;
  border-radius: 999px;
  padding: 0 50px;
  min-height: 44px;
  min-width: 150px;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 12px;
  padding: 0 56px;
  letter-spacing: 3px;
  transition: background-color 200ms
}

.main {
  width: 90%;
  margin: 2rem auto;
}

.form-control {
  font-size: 1.2rem;
}

.main-heading {
  margin: 2rem 0;
}

.hide {
  display: none;
}

.active {
  border: 2px solid #566273;
}

.loading {
  display: flex;
  justify-content: center;
  font-weight: bold;
  letter-spacing: 1px;
  margin-top: 10%;
  font-size: 150%;
}

.load-more {
  display: flex;
  justify-content: center;
  margin: 2rem 0;
}

.load-more button {
  border: none;
  color: #fff;
  border-radius: 10px;
  padding: 10px;
  letter-spacing: 1px;
  outline: none;
}

#loader {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 99999;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.4),
    rgba(0, 0, 0, 0.4)
  );
}

.message {
  position: relative;
  font-size: 150%;
  top: 50%;
  left: 50%;
  transform: translateX(-10%);
  color: #fff;
  letter-spacing: 1px;
}

.loader-open {
  overflow: hidden;
}

.errorMsg {
  color: #f21e08;
  background: #fff0f0;
  padding: 0.5rem;
  margin-top: 0.5rem;
}

.search-buttons {
  margin: 2rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-buttons .btn {
  margin: 0.8rem;
  font-size: 1.2rem;
  letter-spacing: 1px;
  font-weight: bold;
  color: black;
  border: 1.5px solid black;
  border-radius: 0;
}

.search-buttons .btn:focus {
  box-shadow: none;
}

.albums,
.artists,
.playlist {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  margin: 1rem;
  box-shadow: 0 2px 7px 3px #949ca5;
}

.card .card-image-link {
  padding: 1rem;
  text-align: center;
}

.card img {
  max-width: 250px;
  height: 250px;
}

@media screen and (max-width: 400px) {
  .search-buttons {
    flex-direction: column;
  }
  .search-buttons .btn {
    margin: 0.6rem;
  }
  .card img {
    height: auto;
  }
  .main-heading {
    text-align: center;
  }
}
